*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    color:white
}

.button{
    text-align: center;
    margin-top: 0.5rem;
}

/* .bg-primary{
    background-color: rgb(49, 75, 75);
} */
















